<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{{ globals.favicon }}">
    {% for link in globals.styles %}
        <link rel="stylesheet" href="{{ link }}">
    {% endfor %}
    {% for style_properties in style %}
        <link rel="{{ style_properties.rel }}" href="{{ style_properties.href }}" media="{{ style_properties.media }}">
    {% endfor %}
    {% for link_properties in link %}
        <link rel="{{ link_properties.rel }}" href="{{ link_properties.href }}">
    {% endfor %}
    {% for meta_properties in meta %}
        <meta name="{{ meta_properties.name }}" content="{{ meta_properties.content }}">
    {% endfor %}
    <title>{{ title }}</title>
</head>
<body>
{% if variable.menu %}
    <nav class="main-menu">
        <ul>
            {% for menu_element in variable.menu %}
                <li>
                    <a href="{{ menu_element.href }}">
                        <i class="fa {{ menu_element.icon }} fa-2x"></i>
                        <span class="nav-text">
                            {{ menu_element.name }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
{% block body %}
{% endblock %}
<footer>
    {% for script in globals.scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    {% for script_properties in script %}
        <script type="text/javascript" src="{{ script_properties.href }}" async=""></script>
    {% endfor %}
</footer>
</body>
</html>